.about-us-page {
   --video-width: 60vw;
   padding-top: 1.25vw;
   padding-left: calc((100vw - var(--video-width)) / 2 - var(--sidebar-width));
}

.about-us-page iframe {
   display: block;
   width: var(--video-width);
   height: calc(var(--video-width) * 9 / 16);
}

.about-us-page p {
   text-indent: 3.75vw;
   padding-right: calc((100vw - var(--video-width)) / 2);
}