.account-page {
   padding: 0 2vw;
}

.account-page h1 {
   margin: 0;
   font-weight: 450;
}

@media (min-width: 26rem) {
   .account-page {
      padding: 0 0 0 4vw;
   }
   
   .info-and-orders-ctnr {
      display: flex;
      gap: 7vw;
   }
}