.cart {
   padding-left: 4vw;
   width: 58vw;
}

.cart h1 {
   margin-top: 0;
   font-weight: 450;
}

.items-container {
   padding-left: 3vw;
   padding-bottom: 2vw;
}

.items-container ul {
   list-style-type: none;
   padding: 0;
   margin-bottom: 0;
}

.items-container ul li {
   padding-bottom: 1.8vw;
}

.shop-link {
   color: rgb(206, 57, 106);
}
.shop-link:active {
   color: rgb(244, 146, 179);
}

.total-and-checkout {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   border-top: 1px solid black;
   padding-top: 1.5vw;
   margin-left: 3vw;
}
.total-and-checkout p {
   margin: 0;
}

span.subtotal-text {
   font-size: 1.2rem;
   font-weight: 500;
}

span.subtotal-number {
   font-size: 1.3rem;
   font-weight: 500;
}

p.taxes-shipping-text {
   font-size: 0.9rem;
   margin: 0;
}

.checkout-btn {
   margin-top: 2vw;
   padding: 0.6vw;
   border: 0.2vw solid #b9e3fa;
   border-radius: 0.4vw;
   background-color: #b9e3fa;
   /* background-color: rgb(0, 132, 255); */
   color: rgb(50, 50, 50);
   font-size: 1.6vw;
   font-weight: 550;
}
.checkout-btn:hover {
   border: 0.2vw solid #b9e3fa;
   background-color: #e0f3ff;
   color: rgb(80, 80, 80);
}
.checkout-btn:active {
   border: 0.2vw solid #b9cad5;
   background-color: #b9cad5;
}