.earrings-page {
   padding-left: 4vw;
}

.earrings-page h1 {
   font-weight: 450;
   margin: 0 0 2vw 0;
}

.earrings-page ul {
   list-style-type: none;
   display: flex;
   flex-wrap: wrap;
   padding-left: 0;
}

.earrings-page ul li {
   padding-bottom: 4vw;
   margin-right: 3.5vw;
}