.footer {
   grid-area: footer;
   align-self: end;
   display: flex;
   flex-direction: column;
   padding-top: 3vw;
}
.copyright {
   align-self: center;
   font-size: 0.75em;
   margin: 0.375vw 0;
}