@import "normalize.css";

:root {
  --sidebar-width: 15vw;
}

body {
  margin: 0;
  line-height: 1.5;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header   header"
    "sidebar  main"
    "footer   footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: var(--sidebar-width) 1fr;
}

main {
  grid-area: main;
}

button:hover {
  cursor: pointer;
}