@import "normalize.css";

:root {
   --sidebar-width: 12vw;
   --primary-color: #ffdde4;
   --secondary-color: #fff8dd;

   --pastel-pink: #ffdde4;
   --beige: #fcf5e5;
   --pastel-green: #cbe0cb;
   --pastel-blue: #c1e1e1;
   --mustard: #ffdb58;

   --body-bg-color: #f8f6f0;
}

body {
   margin: 0;
   line-height: 1.5;
   min-height: 100vh;
   display: grid;
   grid-template-areas:
      "header"
      "main"
      "footer";
   grid-template-rows: auto 1fr auto;
   background-color: #f8f6f0;
   font-size: calc(0.6rem + 1.11vw);
   /* at desktop width: 1.3vw === 1.05em (~0.8 multiplier) */
}

main {
   grid-area: main;
}   

h1 {
   font-size: 1.6em;
}

button:hover {
   cursor: pointer;
}

@media (min-width: 32rem) {
   body {
      grid-template-areas:
         "header    header"
         "sidebar   main"
         "footer    footer";
      grid-template-columns: var(--sidebar-width) 1fr;
      font-size: calc(0.4rem + 0.74vw);
   }
}