.header {
   grid-area: header;
   position: sticky;
   top: 0;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   background-color: var(--body-bg-color);
   z-index: 2;
}

.logo-ctnr {
   margin: 0 auto;
}

.logo {
   display: block;
   width: 24vw;
   height: auto;
   padding: 1vw 0;
}

@media (min-width: 32rem) {
   .header {
      justify-content: center;
   }

   .logo-ctnr {
      margin: revert;
   }
   
   .logo {
      width: 12vw;
      padding: 0.5vw 0;
   }   
}