.header {
   grid-area: header;
   position: sticky;
   top: 0;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   background-color: var(--body-bg-color);
   z-index: 2;
}

/* .logo-ctnr {
   background-image: radial-gradient(white, transparent 70%);
} */

.logo {
   display: block;
   width: 17vw;
   height: auto;
   padding: 1vw 0;
}

@media (min-width: 26rem) {
   .header {
      justify-content: center;
   }

   .logo {
      width: 15vw;
      padding: 0.5vw 0;
   }   
}