.header {
   grid-area: header;
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* .logo-ctnr {
   background-image: radial-gradient(white, transparent 70%);
} */

.logo {
   display: block;
   width: 15vw;
   height: auto;
   padding-top: 10px;
}