.home-page-loading, .home-page-error, .home-page {
   padding: 0 2vw 0;
}

.home-page h2 {
   font-size: 1.6em;
   font-weight: 450;
   margin: 0;
}

.slideshow-container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.new-arrivals ul {
   --image-width-height: 19vw;

   width: 100%;
   list-style-type: none;
   display: flex;
   justify-content: space-between;
   margin-bottom: 0;
   padding-left: 0;
}
.new-arrivals ul li {
   /* padding: 0 1.7vw 1vw 1.7vw; */
   padding: 1vw 1.3vw;
   animation: 0.7s ease-in-out fadeIn;
}

.new-arrivals li:first-child,
.new-arrivals li:last-child {
   padding: 1vw 0;
}
.new-arrivals li:first-child button,
.new-arrivals li:last-child button {
   padding: 0;
   width: 4.5vw;
   height: var(--image-width-height);
   line-height: var(--image-width-height);
   font-size: 2em;
   font-weight: 300;
   text-align: center;
   border: 0;
   border-radius: 0.2vw;
   background: transparent;
   color: rgb(100, 100, 100);
}
.new-arrivals li:first-child button:hover,
.new-arrivals li:last-child button:hover {
   color: black;
   background: rgb(200, 200, 200);
}
.new-arrivals li:first-child button:active,
.new-arrivals li:last-child button:active {
   color: black;
   background: rgb(149, 149, 149);
}

.new-arrivals .bottom-slideshow-nav button {
   font-size: 1.45em;
   font-weight: 300;
   width: 5vw;
   padding: 0;
   margin: 0.7vw 1vw 0 1vw;
   border: 0;
   border-radius: 0.2vw;
   background: rgb(227, 227, 227);
   color: rgb(60, 60, 60);
}
.new-arrivals .bottom-slideshow-nav button:hover {
   color: black;
   background: rgb(188, 188, 188);
}
.new-arrivals .bottom-slideshow-nav button:active {
   color: black;
   background: rgb(149, 149, 149);
}

.best-sellers h2 {
   margin-top: 3vw;
}

.best-sellers ul {
   list-style-type: none;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding-left: 0;
   margin-top: 2.5vw;
}

.best-sellers ul li {
   padding-bottom: 8vw;
}

@keyframes fadeIn {
   0% { 
      opacity: 0; 
   }
   100% { 
      opacity: 1; 
   }
}

@media (min-width: 26rem) {
   .home-page-loading, .home-page-error {
      padding-left: 4vw;
   }
   .home-page {
      padding: 0 4vw 0 0;
   }

   .home-page h2 {
      padding-left: 4vw;
   }

   .new-arrivals ul {
      --image-width-height: 15vw;
   
      width: auto;
      justify-content: space-evenly;
   }
   
   .new-arrivals li:first-child button,
   .new-arrivals li:last-child button {
      width: 2.5vw;
      font-size: 3.4em;
   }

   .new-arrivals .bottom-slideshow-nav button {
      width: 3vw;
      padding: 0.1vw 0;
      margin: 0.7vw 0.5vw 0 0.5vw;   
   }

   .best-sellers ul {
      justify-content: normal;
      padding-left: 4vw;
   }

   .best-sellers ul li {
      padding-bottom: 4vw;
      margin-right: 3.5vw;
   }
}