.login-form {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 1em;
}

.login-form .error-msg {
   color: rgb(255, 72, 0);
   font-style: italic;
   font-size: 1em;
   margin-top: 0;
}

.login-form label {
   font-size: 1.3em;
   font-weight: 450;
}

.login-form input {
   width: 8em;
   padding: 0.6vw 0.9vw;
   margin: 0.6vw 0 3vw;
   border: 0.1vw solid rgb(153, 153, 153);
   border-radius: 1vw;
   background-color: #fefffa;
   /* background-color: rgb(228, 228, 228); */
   font-size: 1.3em;
   font-weight: 450;
}
.login-form input:focus {
   border: 0.1vw solid var(--pastel-green);
   outline: 0.1vw solid var(--pastel-green);
}

.login-form button {
   align-self: center;
   margin-top: 1vw;
   padding: 1vw 1.3vw;
   border: 0;
   border-radius: 0.4vw;
   font-size: 1.3em;
   font-weight: 550;
   color: rgb(43, 43, 43);
   /* background-image: radial-gradient(0px 0px, white, var(--pastel-green) 90%); */
   background-color: var(--pastel-green);
}
.login-form button:hover {
   background-color: #b5c7b5;
}
.login-form button:active {
   background-color: #8c9b8c;
}

.login-form .guest-login-btn {
   margin-top: 0;
   background-color: var(--pastel-blue);
}
.login-form .guest-login-btn:hover {
   background-color: #a4c0c0;
}
.login-form .guest-login-btn:active {
   background-color: #879f9f;
}

.login-form hr {
   width: 100%;
   height: 1px;
   border: 0;
   background-color: black;
   margin: 1em 0;
}

@media (min-width: 32rem) {
   .login-form {
      padding: 1.2vw 1.5vw;
   }
   
   .login-form .error-msg {
      font-size: 0.85em;
   }
   
   .login-form label {
      font-size: 1em;
   }
   
   .login-form input {
      width: 13vw;
      margin: 0.3vw 0 1vw;
      border-radius: 0.5vw;
      font-size: 1em;
   }

   .login-form button {
      margin-top: 0.5vw;
      padding: 0.7vw 1vw;   
      font-size: 1em;
   }
}