.my-orders {
   width: 96vw;
   position: relative;
}

.my-orders h2 {
   font-weight: 400;
   font-size: calc(1.1em * 1.3);
   text-decoration: underline;
   text-underline-offset: 0.6vw;
   text-decoration-thickness: 0.1vw;
   text-decoration-color: rgb(120, 120, 120);
}

.orders-table {
   display: block;
   table-layout: fixed;
   width: 100%;
   height: 87vh;
   overflow: scroll;
   border: 0.3vw solid var(--pastel-green);
   border-bottom: 0.8vw solid var(--pastel-green);
   border-radius: 0.4em;
   border-collapse: collapse;
   text-align: center;
   background-color: #cbe0cb14;
}

.orders-table ul {
   margin: 0;
   padding-left: 1.5em;
}

.orders-table caption {
   position: absolute;
   width: 1px;
   height: 1px;
   clip-path: inset(50%);
   overflow: hidden;
   white-space: nowrap; 
}

.orders-table thead {
   position: sticky;
   top: 0;
   vertical-align: top;
   font-size: 1.1em;
   background-color: var(--pastel-green);
}

.orders-table thead th {
   padding: 0.3em 0;
   font-weight: 550;
}

.orders-table thead th:nth-child(1) {
   width: 1%;
}
.orders-table thead th:nth-child(2) {
   width: 13%;
}
/* .orders-table thead th:nth-child(3) {
   width: 69%
} */
/* .orders-table thead th:nth-child(4) {
   width: 10%;
} */
.orders-table thead th:nth-child(5) {
   width: 1%;
}
/* .orders-table thead th:nth-child(6) {
   width: 8%;
}
.orders-table thead th:nth-child(7) {
   width: 5%;
}
.orders-table thead th:nth-child(8) {
   width: 5%;
}
.orders-table thead th:nth-child(9) {
   width: 9%;
} */

/* .orders-table tbody tr:nth-child(even) {
   background-color: rgba(255, 241, 243, 0.966);
} */

.orders-table tbody .order-id-ctnr:hover {
   cursor: pointer;
   text-decoration: underline;
   background-color: rgb(230, 230, 230);
}

.orders-table tbody .selected-order {
   background-color: #cbe0cba6;
}
.orders-table tbody .selected-order .order-id-ctnr:hover {
   background-color: transparent;
}

.orders-table tbody th {
   font-weight: 400;
}

.orders-table tbody th, .orders-table tbody td {
   border: 1px solid rgb(183, 183, 183);
   padding: 0.5vw;
}
.orders-table tbody th:first-child {
   border-left: none;
   font-size: 0.9em;
}
.orders-table tbody td:last-child {
   border-right: none;
}

.orders-table tbody p {
   margin: 0.2em 0;
}

@media (min-width: 26rem) {
   .my-orders {
      width: 48vw;
   }

   .my-orders h2 {
      font-weight: 400;
      font-size: calc(1.05em * 1.3);
      text-decoration: underline;
      text-underline-offset: 0.6vw;
      text-decoration-thickness: 0.1vw;
      text-decoration-color: rgb(120, 120, 120);
   }

   .orders-table {
      border-radius: 0.8vw;
   }
}