.necklaces-page {
   padding: 0 2vw 0;
}

.necklaces-page h1 {
   font-weight: 450;
   margin: 0 0 2vw 0;
}

.necklaces-page ul {
   list-style-type: none;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding-left: 0;
}

.necklaces-page ul li {
   padding-bottom: 8vw;
}

@media (min-width: 32rem) {
   .necklaces-page {
      padding: 0 0 0 4vw;
   }

   .necklaces-page ul {
      justify-content: normal;
   }   

   .necklaces-page ul li {
      padding-bottom: 4vw;
      margin-right: 3.5vw;
   }   
}