.payment-status-page {
   padding: 0 2vw 0;
}

.payment-status {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   row-gap: 2em;
   width: 100%;
   animation: fadeInAnimation 1s ease forwards;
   margin: 2em 0 0;
}

.payment-status h2 {
   margin: 0;
   color: #30313D;
   text-align: center;
   font-weight: 600;
   font-size: 1.61em;
}

.payment-status p {
   font-size: 1.13em;
   margin: 0;
}

.status-icon {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 3.5em;
   height: 3.5em;
   border-radius: 50%;
} 

@keyframes fadeInAnimation {
   to {
      opacity: 1;
   }
}

@media (min-width: 32rem) {
   .payment-status-page {
      padding: 0 0 0 4vw;
   }

   .payment-status {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      row-gap: 30px;
      width: 40vw;
      padding: 2vw 2vw 0;
      animation: fadeInAnimation 1s ease forwards;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 12vw;
   }

   .status-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3vw;
      height: 3vw;
      border-radius: 50%;
   }    
}