.payment-status-page {
   padding-left: 4vw;
}

.payment-status {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   row-gap: 30px;
   width: 40vw;
   align-self: center;
   /* border: 1px solid black; */
   /* box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
     0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07); */
   border-radius: 7px;
   padding: 2vw 2vw 0;
   opacity: 0;
   animation: fadeInAnimation 1s ease forwards;
   margin-top: 0;
   margin-bottom: 0;
   margin-left: 12vw;
}

.payment-status h2 {
   margin: 0;
   color: #30313D;
   text-align: center;
   font-weight: 600;
   font-size: 2vw;
}

.payment-status p {
   font-size: 1.4vw;
   margin: 0;
}

.status-icon {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 3vw;
   height: 3vw;
   border-radius: 50%;
} 

@keyframes fadeInAnimation {
   to {
      opacity: 1;
   }
}