.product-details {
   padding: 1.5vw;
}

.images-description-container {
   display: grid;
   grid-template-columns: 40vw 35vw;
   column-gap: 3vw;
}

.description-container h1 {
   margin: 0;
}
.description-container a {
   text-decoration: none;
   color: black;
   font-weight: bold;
   font-size: 1.1rem;
}
.description-container a:hover {
   text-decoration: underline;
}
.description-container a:active {
   color: rgba(224, 23, 23, 0.7);
}
.description-container .bold {
   font-weight: bold;
}

.rating-and-reviews-link {
   --size: 1.4vw;

   display: flex;
   height: var(--size);
   padding-top: calc( var(--size) / 2 );
}
.rating-and-reviews-link a {
   padding-left: var(--size);
   font-size: var(--size);
   line-height: var(--size);
}

.details-section p {
   width: 60vw;
}