.product-image-list-container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.curr-image-controls-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}
.curr-image-controls-container button {
   font-size: 2em;
   background: rgb(238, 238, 238);
   background-color: transparent;
   border: none;
   padding: 0 0.1em;
}
.curr-image-controls-container button:first-child {
   border-radius: 2vw 0 0 2vw;
}
.curr-image-controls-container button:last-child {
   border-radius: 0 2vw 2vw 0;
}
.curr-image-controls-container button:hover {
   background-color: rgb(224, 224, 224);
}
.curr-image-controls-container button:active {
   background-color: rgb(180, 180, 180);
}

.curr-image-container {
   position: relative;
   aspect-ratio: 1 / 1;
   width: 100%;
   background: white;
}
.curr-image-container img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.slideshow-container {
   display: flex;
   width: 100%;
   height: 15%;
   margin-top: 1vw;
   justify-content: center;
   align-items: center;
}
.slideshow-container button {
   height: 100%;
   background: rgb(238, 238, 238);
   border: none;
   padding: 0.5em 0.2em;
   font-size: 1.3em;
}
.slideshow-container button:first-child {
   border-radius: 1vw 0 0 1vw;
}
.slideshow-container button:last-child {
   border-radius: 0 1vw 1vw 0;
}
.slideshow-container button:hover {
   background-color: rgb(224, 224, 224);
}
.slideshow-container button:active {
   background-color: rgb(170, 169, 169);
}

.image-list {
   list-style-type: none;
   width: 86%;
   height: 100%;
   /* margin: 2% 0; */
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   background-color: rgba(95, 95, 95, 0.318);
   background-color: rgb(242, 242, 242);
   /* background-image: linear-gradient(90deg, transparent, gray, transparent); */
}
.image-list li {
   position: relative;
   aspect-ratio: 1 / 1;
   width: 18%;
   box-sizing: border-box;
   margin: 0 2%;
}
.image-list li:hover {
   cursor: pointer;
}
.image-list img {
   width: 100%;
   height: 100%;
   object-fit: contain;
   opacity: 50%;
}
.image-list img:hover {
   opacity: 100%;
}

li.selected-image-container {
   background-color: white;
   border: 0.4vh solid var(--pastel-green);
}
li.selected-image-container img {
   opacity: 100%;
}

@media (min-width: 32rem) {
   .curr-image-controls-container button {
      aspect-ratio: 1 / 1;
      width: 7%;
      height: 100%;
      padding: revert;
      font-size: 2.82em;
   }

   .slideshow-container button {
      padding: revert;
      font-size: revert;
   }   
}