.product-list-card {
   --width: 44vw;

   width: var(--width);
   /* box-shadow: 0.3vw 0.6vw 0.6vw 0 rgba(224, 23, 23, 0.2); */
   border-radius: 5%;
}

.image-container {
   position: relative;
   width: var(--width);
   height: var(--width);
}
.image-container img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.name-price-ctnr {
   display: flex;
   justify-content: space-between;
   gap: 2vw;
   margin-top: 0.8vw;
}

.product-list-card h3 {
   font-size: 1em;
   font-weight: 400;
   margin: 0;
}

.product-price {
   max-width: 30%;
   font-size: 1em;
   font-weight: 400;
   text-align: right;
   margin: 0;
}

.products-link {
   text-decoration: none;
   color: black;
}
.products-link:hover {
   text-decoration: underline;
}

.rating-and-reviews-link {
   --size: 0.82em;

   display: flex;
   align-items: center;
   height: var(--size);
   /* padding-top: calc( var(--size) / 2 ); */
   padding: 0.7vw 0 0.6vw 0;
}
.rating-and-reviews-link a {
   padding-left: calc( var(--size) * 0.7 );
   font-size: var(--size);
   font-weight: 400;
   line-height: var(--size);
   text-decoration: none;
   color: black;
}
.rating-and-reviews-link a:hover {
   text-decoration: underline;
}

.review-count {
   font-weight: 400;
}

@media (min-width: 26rem) {
   .product-list-card {
      --width: 23vw;
   }

   .product-list-card h3 {
      font-size: 1.1em;
   }

   .rating-and-reviews-link {
      --size: 0.97em;
   }
}