.purchase-controls {
   margin: 1.9vw 0 0 0;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.label-input-group {
   display: flex;
   align-items: center;
   gap: 0.5vw;
}

.input-group {
   display: flex;
   align-items: center;
   border: 0.1vw solid var(--pastel-blue);
   border-radius: 1vw;
   padding: 0.6vw 0.8vw;
   background-color: white;
}
.input-group button {
   border: 0;
   padding: 0;
   font-size: 1.45em;
   background-color: transparent;
}

.quantity-label {
   font-size: 1.05em;
   font-weight: 500;
   color: rgb(40, 40, 40);
}

.quantity-input {
   width: 2.4vw;
   height: 2vw;
   margin: 0 0.5vw;
   font-size: 1.13em;
   font-weight: 500;
   text-align: center;
   border: 0;
   border-radius: 0.2vw;
}

.add-to-cart-btn {
   background-color: var(--pastel-blue);
   margin-left: 3vw;
   padding: 0.8vw;
   border: 0.2vw solid transparent;
   border-radius: 0.7vw;
   font-weight: 600;
   font-size: 1.13em;
   color: #222222;
   color: rgb(40, 40, 40);
}
.add-to-cart-btn:hover {
   animation-name: cart-btn-hover;
   animation-duration: 0.2s;
   animation-timing-function: ease-out;
   animation-fill-mode: forwards;
}
.add-to-cart-btn:active {
   animation-name: cart-btn-active;
   animation-fill-mode: forwards;
}

@keyframes cart-btn-hover {
   to {
      border: 0.2vw solid var(--pastel-blue);
      background-color: white;
      color: #698787;
   }
}

@keyframes cart-btn-active {
   from {
      border: 0.2vw solid var(--pastel-blue);
      background-color: white;
      color: #698787;
   }

   to {
      border: 0.2vw solid gainsboro;
      background-color: gainsboro;
      color: #698787;
   }
}