.reviews {
   padding-left: 4vw;
}

.reviews h2 {
   margin: 2vw 0;
   font-size: 2.1em;
   font-weight: 450;
}

.rating-count-ctnr {
   display: flex;
   align-items: center;
   gap: 1.1vw;
   font-size: 1.37em;
}
.rating-count-ctnr p {
   margin: 0;
}

.reviews-list {
   list-style-type: none;
   padding: 0 0 0 3rem;
   margin: 0;
}
.reviews-list > li {
   --size: 50vw;
   width: var(--size);
   padding-bottom: 2vw;
}

.no-reviews-msg {
   padding: 0 0 0 3rem;
}