.review-popover {
   position: fixed;
}
.review-popover::before {
   content: "";
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: black;
   opacity: 40%;
}

.prev-review-btn, .next-review-btn {
   position: fixed;
   top: 5vh;
   width: 4vw;
   height: 90vh;
   color: black;
   font-size: 3rem;
   background-color: var(--pastel-green);
   border: 0;
}
.prev-review-btn {
   left: 10vw;
   border-radius: 0.4vw 0 0 0.4vw;
}
.next-review-btn {
   right: 10vw;
   border-radius: 0 0.4vw 0.4vw 0;
}

.prev-review-btn:hover, .next-review-btn:hover {
   font-size: 4rem;
   background-color: #d9f0d9;
}
.prev-review-btn:active, .next-review-btn:active {
   font-size: 4rem;
   background-color: #b8ceb8;
}
.prev-review-btn:disabled, .next-review-btn:disabled {
   font-size: 3rem;
   color: rgb(100, 100, 100);
   background-color: #9aa49a;
}

.main-popover {
   --main-top: 5vh;
   --main-left: 14vw;
   --main-width: 72vw;
   --main-height: 90vh;

   --size: calc( var(--main-width) * 0.8 );

   position: fixed;
   top: var(--main-top);
   left: var(--main-left);
   box-sizing: border-box;
   width: var(--main-width);
   height: var(--main-height);
   padding: 1.4vw;
   background-color: #f8f6f0;

   display: grid;
   grid-template-columns: 1.25fr 1fr;
   gap: 3vw;

   overflow: scroll;
}

.review {   
   text-wrap: pretty;
   overflow: scroll;
}

.review h3 {
   margin: 1vw 0 1vw;
   font-size: 1.4vw;
   font-weight: 500;
}

.close-btn {
   --btn-width: max(3vw, 25px);

   position: fixed;
   /* left: calc(var(--main-left) + var(--main-width) - (var(--btn-width) / 2) );
   top: calc( var(--main-top) - (var(--btn-width) / 2) ); */
   right: 1vw;
   top: 1vw;

   width: var(--btn-width);
   height: var(--btn-width);
   padding: 0;
   border: none;
   border-radius: 5%;
   background-color: rgb(210, 210, 210);
   font-size: calc( var(--btn-width) * 0.7 );
   font-weight: 600;
}
.close-btn:hover {
   background-color: rgb(175, 175, 175);
}
.close-btn:active {
   background-color: rgb(145, 145, 145);
}