.sidebar {
   grid-area: sidebar;
   padding-top: 1.25vw;
}

.nav-list {
   display: flex;
   flex-direction: column;
   list-style-type: none;
   padding: 0 1.25vw 0 1.875vw;
   margin: 0;
}

.nav-list li {
   font-size: 1.5vw;
   padding-bottom: 1.25vw;
}

.nav-list a {
   text-decoration: none;
   color: black;
}
.nav-list a:hover {
   color: palevioletred;
}
.nav-list a:active {
   color: rgb(214, 37, 96);
}